

body {
    height: 100vh;
    
    align-items: center;
    justify-content:center;
}

.container {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid #000;
}